name: Actions

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions: {}

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v6.0.1

      - name: Set up Python
        uses: actions/setup-python@v6.1.0
        with:
          python-version: "3.14"

      - name: Install uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867  # v7.1.6
        with:
          version: "0.9.22"

      - name: Install dependencies
        run: uv sync

      - name: Check format
        run: uv run black . --check

  test:
    name: Test
    needs: lint
    strategy:
      matrix:
        python-version: 
          - "3.14"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v6.0.1

      - name: Set up Python
        uses: actions/setup-python@v6.1.0
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867  # v7.1.6
        with:
          version: "0.9.22"

      - name: Install dependencies
        run: uv sync

      - name: Run tests
        run: uv run pytest -v
